# Skip these errors:
#    E309: Add missing blank line (after class declaration).
#          Unless deisabled, autopep8 inserts a blank line betweent he class and
#          its docstring.  This is not required by PEP8, and it is ugly.

# Need both pep8 & flake8 sections even though flake8 is a pep8 wrapper.
# flake8 uses [flake8].
# autopep8 uses [pep8].
# These should be kept in sync.

[flake8]
# E402 is to silence 'E402 module level import not at top of file'
ignore=E309,E402
max-line-length=100
count=True
# Complexity of 25 is plenty of rope to hang yourself with.
max-complexity=25
# migrations: skip the (non-pep8) South generated migration scripts.
# Generated elastic search clients
exclude=*/migrations/*,*/search/elasticsearch/generated/*
application-import-names=nextdoor,nd
import-order-style=smarkets

[pep8]
ignore=E309
max-line-length=100
